.container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-y: hidden;
  background: hsl(var(--background));
  z-index: 1000;
}

.loader {
  width: 50px;
  height: 50px;

  position: absolute;
  top: 50%;
  margin: -25px auto 0;
  border-radius: 50%;
  background: hsl(var(--background));
  background: -moz-linear-gradient(
    left,
    hsl(var(--foreground)) 10%,
    hsl(var(--background)) 50%
  );
  background: -webkit-linear-gradient(
    left,
    hsl(var(--foreground)) 10%,
    hsl(var(--background)) 50%
  );
  background: -o-linear-gradient(
    left,
    hsl(var(--foreground)) 10%,
    hsl(var(--background)) 50%
  );
  background: -ms-linear-gradient(
    left,
    hsl(var(--foreground)) 10%,
    hsl(var(--background)) 50%
  );
  background: linear-gradient(
    to right,
    hsl(var(--foreground)) 10%,
    hsl(var(--background)) 50%
  );

  position: relative;
  -webkit-animation: loader 1.5s infinite linear;
  animation: loader 1.5s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);

  &:before {
    content: "";
    width: 25px;
    height: 25px;
    position: absolute;
    top: 0;
    left: 0;
    background: hsl(var(--foreground));
    border-radius: 100% 0 0 0;
  }

  &:after {
    content: "";
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: hsl(var(--background));
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
