@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {

  // Remove scrollbar for Chrome, Safari and Opera
  .no-scrollbar {
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  // Burger button for mobile
  .burger-menu {

    &::after,
    &::before {
      content: "";
      display: block;
      height: 1px;
      width: 40%;
      margin: auto;
      background-color: hsla(var(--accent-foreground));
      position: relative;
      transition: transform .3s;
    }

    &::after {
      top: -5px;
    }

    &::before {
      top: 5px;
    }
  }

  // Active burger button for mobile
  .burger-menu-active {
    &::after {
      transform: rotate(45deg);
      top: -1px;
    }

    &::before {
      transform: rotate(-45deg);
      top: 0px;
    }
  }
}