@import "/src/styles/mixins.scss";

.notfound {
    background-color: white;
    width: 100vw;
    height: 100vh;

    &__container{
        gap: 20px;
        height: 310px;
        width: auto;

        @include max-width(670px) {
            width: 255px;
        }

        @include flexy (center,center,row,wrap)
    }

    &__elements {
        width: 205px;
        height: 55px;
        position: relative;
        gap: 10px;

        &::after {
            content: "";
            width: 100%;
            height: 1px;
            border-radius: 10px;
            border: 6px solid rgb(72, 71, 71);
            position: absolute;
            bottom: 0;
        }
        
        @include flexy (flex-start,center,row,none)
    }

    &__circleelement {
        display: block;
        width: 14px;
        height: 13px;
        border-radius: 100%;
        background-color: rgb(72, 71, 71);
    }

    &__img {
        width: 270px;
        height: 196px;
        box-sizing: border-box;
        border: 11px solid rgb(72, 71, 71);
        border-radius: 20px;

        @include flexy (center,center,column,none)
    }
    
    &__info {
        max-width: 38%;
        gap: 10px;
        
        @include max-width(670px) {
            align-items: center;
            max-width: 100%;
        }

        @include flexy (center,flex-start,column,wrap)
    }

    &__title {
        flex-basis: 50%;
        font-weight: bold;
        text-align: center;
        color: rgb(0, 0, 0);
    }
    
    &__text {
        flex-basis: 50%;
        color: darkgray;
        max-width: 77%;

        @include max-width(670px) {
           width: 100%;
           text-align: center;
        }
    }

    &__animation {
        position: relative;
        font-weight: 900;
        font-size: 80px;
        gap: 5px;
        color: rgb(72, 71, 71);

        @include flexy (center,center,row,none)
    }

    &__number {
        display: block;
        font-size: 55px;
        position: relative;
    }

    &__number:nth-child(1) {
        animation-name: first;
        animation-duration: .39s;
        animation-delay: 1s;
        animation-timing-function: ease;
        animation-direction: alternate;
        animation-iteration-count: infinite;

        @keyframes first {
            0% {
                top: 0;
            }

            100% {
                top: 13px;
            }
        }

    }

    &__number:nth-child(2) {
        animation-name: second;
        animation-duration: .39s;
        animation-delay: 1.2s;
        animation-timing-function: ease;
        animation-direction: alternate;
        animation-iteration-count: infinite;

        @keyframes second {
            0% {
                top: 0;
            }

            100% {
                top: 13px;
            }
        }
    } 

    &__number:nth-child(3) {
        animation-name: third;
        animation-duration: .39s;
        animation-delay: 1.4s;
        animation-timing-function: ease;
        animation-direction: alternate;
        animation-iteration-count: infinite;

        @keyframes third {
            0% {
                top: 0;
            }

            100% {
                top: 13px;
            }
        }
    } 

    @include flexy (center,center,row,none)
}

